h1
{
    text-align: center;
    font-size: 50px !important; /*since we have modified h1 using selector as well as class*/
}                               /*there was a clash with font_size, so we used !important to resolve it*/

body
{
    color: green;
    background-color: skyblue;
    font-family: 'Road Rage', cursive;
}
/* h1, body, p are element selectors */

p
{
    background-color: white;
    border: 2px solid black;  /*px = pixel, it is a css measurement unit*/
    margin: 20px;    /*CSS box model */
    padding: 10px;
    /* width: 50vw;
    height: 50vh; */
}
/*
CSS units
1. px = pixels on screen
2. 1 em = 16 px 
3. rem = relative to browser
4. % = % of width/height of device
5. vh = viewport height  //similiar to percent
6. vw = viewport width
generally pixels are not used because they may change depending on device/browser
*/

/* This is a class which modifies tags with this name in the class atrribute*/
.class_name
{
    color: rgb(0, 21, 255);
    font-size: large;
    font-weight: bold;
}

/* this is an id, we generally use it for a unique element*/
#heading1
{
    background-color: brown;
    color: white;
}

.footer
{
    background-color: black;
    color: white;
    padding: 20px;
}

a
{
    color: red;
}
/* modifying anchor tag */

a:hover
{
    color: yellow;
}
/*modifying anchor tag's hover attribute (pseudo classes)*/
/*hover can be used for other tags as well*/