.box {
    background-color: blueviolet;
    border: 1px solid aqua;
    color: white;
    padding: 1 rem;
    margin: 1 rem;
    display: flex;
    justify-content: space-around;
  }

  #dp {
      border-radius: 50%;
  }